body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background-image: url("https://cdn-02.independent.ie/world-news/and-finally/article37127559.ece/7f8ae/AUTOCROP/w620/ipanews_4261bbec-f19f-43dc-9ce1-30f699062fa6_1");
 background-repeat: no-repeat; 
 background-size: 100%;
 height: 100%; 
 background-attachment: fixed;
 font-family: 'Raleway', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}


.custom-text {
  font-weight: bold;
  font-size: 30px;
  border: 1px solid #cfcfcf;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: #999;
  background: #fff;
}
